@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-sarabun), sans-serif;
  background-color: #ffffff;
  color: #111827;
}

.my-container {
  width: 100%;
  padding-left: 0.75rem;  /* px-3 */
  padding-right: 0.75rem;
}

@media (min-width: 1024px) {
  .my-container {
    padding-left: 2rem;    /* px-8 */
    padding-right: 2rem;
  }
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera */
}

* {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}